@model ICollection<Palaver.Models.Thread>

@{
    ViewData["Title"] = "Palaver";
    Thread thread = (Thread)ViewData["SelectedThread"];
    int? threadId = (thread == null ? thread.Id : null );
    int? commentId = (int?)ViewData["SelectedCommentId"];
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/summernote/dist/summernote.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css"
            asp-fallback-href="~/lib/summernote/dist/summernote.css"
            asp-fallback-test-class="note-editor" asp-fallback-test-property="position" asp-fallback-test-value="relative" />
    </environment>
}
@section Scripts
{
    <script type="text/javascript">
        var _initialThreadId = @threadId;
        var _initialCommentId = @commentId;
    </script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <environment names="Development">
        <script src="~/lib/summernote/dist/summernote.js"></script>
        <script src="~/js/thread.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"
            asp-fallback-src="~/lib/summernote/dist/summernote.min.js"
            asp-fallback-test="summernote">
        </script>
        <script src="~/js/thread.min.js" asp-append-version="true"></script>
    </environment>
}

        <div id="threadsSidebar" class="row row-offcanvas row-offcanvas-left body-content">
            <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav nav-sidebar">
                    <li class="sidebar-header"><h3>Threads</h3></li>
                    <form class="navbar-form" role="new">
                    <div class="input-group">
                        <input id="newthread" type="text" class="form-control" placeholder="New Thread" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </div>
                    </form>
                </ul>
@if (Model != null && Model.Count > 0)
{
                <ul id="threads" class="nav nav-sidebar">
    @foreach (Thread curThread in Model)
    {
                    <li><a href="#" data-id="@curThread.Id"><span class="thread-date">[@curThread.Updated.ToLocalTime().ToString("t")]</span> @curThread.Title</a></li>
    }
                </ul>
}
            </div>

            <div id="comments" class="col-sm-9 col-md-10 main container-fluid">
                <!--toggle sidebar button-->
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
@{
    Thread thread = (Thread)ViewData["SelectedThread"];
    if (thread != null )
    {
                <h3 class="page-header">
                    <text>Thread Title</text>
                </h3>
        await Html.RenderPartialAsync("~/Views/Comment/_CommentsPartial.cshtml", thread.Comments);
    }
}
            </div><!--/comments-->
        </div><!--/row-->
        <div id="reconnectingModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    Connection lost, reconnecting...
                </div>
            </div>
        </div>
