@{
    ViewData["Title"] = "Login Failure";
}

<div id="mainContent" class="ui container">
    <h2 class="ui header">@ViewData["Title"]</h2>
    <h3 class="ui sub header">Unsuccessful login with service.</h3>
</div>
