<div class="panel panel-default comment{{#IsUnread}} unread{{/IsUnread}}"  tabindex="-1" data-id="{{Id}}" data-parentid="{{ParentCommentId}}">
    <div class="panel-body clearfix">
        <div class="well byline pull-left">
            <div class="row-picture">
                <img class="rounded" src="http://lorempixel.com/40/40/people" alt="icon">
            </div>
            <h5 class="byline-username">
                {{UserName}}
                <br>
                <small class="byline-time">[{{CreatedDisplay}}]</small>
            </h5>
        </div>
        <div class="container-fluid">
            {{{Text}}}
        </div>
    </div>
    {{#Comments}}
        {{>comment}}
    {{/Comments}}
</div> <!-- Comment {{Id}} -->
