<div class="container-fluid comment-wrapper">
    <div class="list-group-item comment{{#IsUnread}} unread{{/IsUnread}}"  tabindex="-1" data-id="{{Id}}" data-parentid="{{ParentCommentId}}">
        <div class="row-picture">
            <img class="rounded" src="http://lorempixel.com/40/40/people" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading username">{{UserName}}<small class="pull-right time">[{{CreatedDisplay}}]</small></h4>

            <div class="list-group-item-text">{{{Text}}}</div>
        </div>
        <!--<div class="list-group-separator"></div>-->
    </div> <!-- Comment {{Id}} -->
    <div class="list-group{{^Comments}} hidden{{/Comments}}">
    {{#Comments}}
        {{>comment}}
    {{/Comments}}
    </div>
</div>