<div id="editorForm" class="ui reply form full width fluid editor container">
    <div id="editor" class="field" />
    <div id="editorSave" class="ui blue labeled submit icon button" onclick="thread.sendReply();" tabindex="0">
        <i class="icon edit"></i> Save
    </div>
    <div id="editorCancel" class="ui red labeled cancel icon button" onclick="thread.cancelReply();" tabindex="0">
        <i class="icon edit"></i> Cancel
    </div>
</div>
