<form id="editorForm" class="reply form full width fluid editor container">
    <div class="field">
        <textarea id="editor"></textarea>
    </div>
    <div class="blue labeled submit icon button" onclick="thread.sendReply();" tabindex="0">
        <i class="icon edit"></i> Save
    </div>
    <div class="red labeled cancel icon button" onclick="thread.cancelReply();" tabindex="0">
        <i class="icon edit"></i> Cancel
    </div>
</form>
