<div class="item link{{#hasUnread}} unread{{/hasUnread}}" data-id="{{Id}}" onclick="thread.loadThread({{Id}}); return false;">
    <div class="right floated content">
        <div class="ui mini purple label unreadcount{{^hasUnread}} hidden{{/hasUnread}}">{{UnreadCount}}</div>
    </div>
    <div class="content">
        <div class="header truncate" data-inverted="" data-tooltip="{{Title}}" data-position="top left">
            {{Title}}
        </div>
        <sub class="byline">{{UserName}} - <time class="timeago timeago-new" datetime="{{UpdatedIsoTime}}">{{UpdatedDisplay}}</time></sub>
    </div>
</div>
