<li {{#UnreadCount}}class="unread" {{/UnreadCount}}data-id="{{Id}}">
    <a  href="/Thread/{{Id}}" onclick="loadThread({{Id}}); return false;">
        <span class="thread-date">[{{UpdatedDisplay}}]</span> <span class="badge">{{UnreadCount}}</span>{{Title}}
    </a>
</li>
