<div id="replyDiv" class="editor">
    <div id="replyDivInner" class="editor-inner"></div>
    <a id="sendReplyLink" tabindex="1" href="javascript:;" onclick="sendReply({{#parentId}}{{parentId}}{{/parentId}})" class="submit">submit</a>
    <a tabindex="2" href="javascript:;" onclick="cancelReply()">cancel</a>
</div>