<div id="replyDiv" class="editor">
    <div id="replyDivInner" class="editor-inner"></div>
    <a id="sendReplyLink" href="javascript:void(0)" onclick="sendReply({{#parentId}}{{parentId}}{{/parentId}})" class="btn btn-raised btn-primary btn-sm">Save</a>
    <a id="sendReplyLink" href="javascript:void(0)" onclick="cancelReply()" class="btn btn-raised btn-sm">Cancel</a>
</div>