{{#Id}}
<header id="threadInner" class="white container fluid minimal threaded comments" data-id="{{Id}}">
    <hgroup id="threadTitle" class="ui fixed dividing header">
        <h3>
            {{Title}}
            <h4 class="sub header">
                {{UserName}}&nbsp;-&nbsp;<time class="timeago" datetime="{{CreatedIsoTime}}">{{CreatedDisplay}}</time>
            </h4>
        </h3>
    </hgroup>
</header>
<div id="comments">
    {{#Comments}}{{>comment}}{{/Comments}}
</div>
<div class="blue labeled submit icon button" onclick="thread.replyTo();">
    <i class="icon plus"></i> Add Comment
</div>
{{/Id}}
<div id="threadLoader" class="inverted dimmer"><div class="text loader">Loading...</div></div>
