<div id="threadList" class="ui visible left wide vertical sidebar">
    <div class="ui top attached segment">
        <div class="item">
            <div class="ui header"><h3>Threads</h3></div>
            <div class="ui item">
                <div class="ui icon input fluid full width">
                    <input id="newthread" class="prompt" type="text" placeholder="New thread title...">
                    <i id="newthreadicon" class="add link icon"></i>
                </div>
            </div>
        </div>
        <div id="threads" class="ui middle aligned divided selection list">
            {{#.}}
                {{>threadListItem}}
            {{/.}}
        </div>
    </div>
</div>
<!--
<div class="ui black big launch right attached fixed button">
  <i class="content icon"></i>
  <span class="text">Threads</span>
</div>
-->
