<div id="thread" class="pusher">
    <div class="ui container fluid threaded comments" data-id="{{Id}}">
        <div id="threadTitle" class="ui fixed dividing header"><h3>{{Title}}<div class="sub header">{{UserName}}&nbsp;-&nbsp;<div class="date">{{CreatedDisplay}}</div></div></h3></div>
        {{#Comments}}
            {{>comment}}
        {{/Comments}}
    </div>
    <form id="threadEditorForm" class="ui reply form full width fluid">
        <div class="field">
            <textarea id="threadEditor"></textarea>
        </div>
        <div class="ui blue labeled submit icon button" onclick="sendReply(null, 'thread')">
            <i class="icon edit"></i> Add Reply
        </div>
    </form>
</div>
