<div id="thread" data-id="{{Id}}" class="col-sm-9 col-md-10 main container-fluid">
    <!--toggle sidebar button-->
    <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
    </p>
    <div id="threadTitle" class="page-header clearfix" data-threadid="{{Id}}">
        <img class="rounded pull-left" src="http://lorempixel.com/50/50/people" alt="icon">
        <h1 class="thread-title">{{Title}}</h1>
    </div>
    {{^Comments}}
    <div id="threadReplyButton" class="thread-reply-btn btn-group btn-group-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Reply"
            onclick="writeDirectReply(this.parentNode.parentNode)"><span class="glyphicon glyphicon-console" /></button>
    </div>
    {{/Comments}}
    <div class="container-fluid all-comments-wrapper">
        <div class="list-group{{^Comments}} hidden{{/Comments}}">
        {{#Comments}}
            {{>comment}}
        {{/Comments}}
        </div>
    </div>
</div><!--/thread-->
