@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<div id="mainContent" class="ui container">
    <h2 class="ui header">@ViewData["Title"]</h2>

    @if ((string)ViewData["StatusMessage"] != "")
    {
        <p class="ui success message">@ViewData["StatusMessage"]</p>
    }


    <h3 class="ui header">Change your account settings</h3>
    <div class="ui segment">
        <h4 class="ui header">Password</h4>
        <div class="content">

            [@if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Create</a>
            }]
        </div>
    </div>

    <div class="ui segment">
        <h4 class="ui header">
            External Logins
        </h4>

        <div class="content">
            @Model.Logins.Count [ <a asp-controller="Manage" asp-action="ManageLogins">Manage</a> ]
        </div>
    </div>

    <div class="ui segment">
        <h4 class="ui header">
            Notification
        </h4>

        <div class="content">
            Enable or disable notifications.
        </div>
        <div class="content">
        @if (Model.NotificationEnabled)
        {
            <form asp-controller="Manage" asp-action="DisableNotification" method="post" class="form-horizontal" role="form">
                Enabled &nbsp;
                <button type="submit" class="ui red submit button">Disable</button>
            </form>
        }
        else
        {
            <form asp-controller="Manage" asp-action="EnableNotification" method="post" class="form-horizontal" role="form">
                    Disabled &nbsp;
                    <button type="submit" class="ui primary submit button">Enable</button>
            </form>
        }
        </div>
    </div>
</div>
