body {
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
}

#wrapper {
    padding: 10px;
}

#content-wrapper {
    padding: 0px;
}


/*body {
  padding-top: 70px;
}*/

footer {
    padding: 30px 0;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .sidebar-offcanvas {
        position: absolute;
        width: 60%;
        /* 6 columns */
        display: none;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-right.active .sidebar-offcanvas {
        display: block;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .row-offcanvas-right.active {}
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 10px;
    padding-right: 10px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea {
    max-width: 280px;
}


/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}