html,
head,
body {
    height: 100%;
    width: 100%;
}

#threadList,
#thread {
    margin-top: 47px !important;
}

.pusher {
    width: calc(100% - 350px);
}

#thread {
    padding: 20px;
}

#thread .comment:focus {
    background-color: orange;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
}